<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bewg.token.mapper.TokenJobMapper">
	<resultMap type="com.bewg.token.entity.DDParam" id="ddParam">
		<id property="enName" column="en_name"/>
		<result property="cname" column="cname"/>
		<result property="evalue" column="evalue"/>
		<result property="memo" column="memo"/>
		<result property="memo1" column="memo1"/>
	</resultMap>
	<select id="getParam" parameterType="java.lang.String" resultType="com.bewg.token.entity.TokenParam">
		select * from dd_param
		<where>
			<if test="_parameter != null">
				en_name = '${_parameter}'
			</if>
		</where>
	</select>

	<select id="getParamService" parameterType="java.lang.String" resultMap="ddParam">
		select * from dd_param
		<where>
			<if test="_parameter != null">
				en_name = '${_parameter}'
			</if>
		</where>
	</select>
	
	<update id="updateToken" parameterType="com.bewg.token.entity.TokenParam">
		update dd_param set cname=#{cname},evalue=#{evalue},memo=#{memo} where en_name=#{en_name}
	</update>
</mapper>